In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Saskylakh,98,RU,2020-02-16 18:45:21,94,71.92,114.08,2.39,10.89
1,1,Puerto Carreno,40,CO,2020-02-16 18:48:23,34,6.19,-67.49,96.80,11.41
2,2,Tiksi,100,RU,2020-02-16 18:48:23,92,71.69,128.87,-2.97,5.26
3,3,Sangar,100,RU,2020-02-16 18:48:23,94,63.92,127.47,-15.39,8.66
4,4,Faanui,99,PF,2020-02-16 18:48:23,75,-16.48,-151.75,82.22,16.42

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Cloudiness      int64
Country        object
Date           object
Humidity        int64
Lat           float64
Lng           float64
Max Temp      float64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
max_temp = [ x if x > 0 else 0 for x in  max_temp ]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 95

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
4,4,Faanui,99,PF,2020-02-16 18:48:23,75,-16.48,-151.75,82.22,16.42
7,7,Ugep,25,NG,2020-02-16 18:48:24,17,5.81,8.08,90.88,4.85
12,12,Cabo San Lucas,90,MX,2020-02-16 18:43:35,49,22.89,-109.91,80.01,4.70
24,24,Sibu,75,MY,2020-02-16 18:48:27,94,2.30,111.82,78.80,2.24
35,35,Alice Springs,75,AU,2020-02-16 18:43:32,26,-23.70,133.88,80.60,5.82
37,37,Mahebourg,40,MU,2020-02-16 18:48:29,69,-20.41,57.70,78.80,8.05
40,40,Rikitea,100,PF,2020-02-16 18:48:30,76,-23.12,-134.97,79.50,21.21
41,41,Omboue,100,GA,2020-02-16 18:48:30,91,-1.57,9.26,77.94,3.22
44,44,Bunia,7,CD,2020-02-16 18:48:26,45,1.57,30.25,80.85,5.03
46,46,Baturite,80,BR,2020-02-16 18:47:44,77,-4.33,-38.88,81.05,5.75

In [11]:
#preferred_cities_df.count()
#preferred_cities_df.isnull().sum()
#preferred_cities_df.notnull().sum()

In [12]:
preferred_cities_df = preferred_cities_df.dropna(how="any")

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
4           Faanui      PF     82.22 -16.48 -151.75
7             Ugep      NG     90.88   5.81    8.08
12  Cabo San Lucas      MX     80.01  22.89 -109.91
24            Sibu      MY     78.80   2.30  111.82
35   Alice Springs      AU     80.60 -23.70  133.88
37       Mahebourg      MU     78.80 -20.41   57.70
40         Rikitea      PF     79.50 -23.12 -134.97
41          Omboue      GA     77.94  -1.57    9.26
44           Bunia      CD     80.85   1.57   30.25
46        Baturite      BR     81.05  -4.33  -38.88

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Faanui,PF,82.22,-16.48,-151.75,Bora-Bora Pearl Beach Resort & Spa
7,Ugep,NG,90.88,5.81,8.08,Cravings Hotel
12,Cabo San Lucas,MX,80.01,22.89,-109.91,Hotel Tesoro Los Cabos
24,Sibu,MY,78.80,2.30,111.82,RH HOTEL (4 Star)
35,Alice Springs,AU,80.60,-23.70,133.88,Desert Palms Alice Springs
...,...,...,...,...,...,...
548,Vila Velha,BR,82.99,-20.33,-40.29,Hotel Vitória Palace
549,Come,BJ,84.20,6.41,1.88,MAGIC HOUSE
553,Angoche,MZ,78.12,-16.23,39.91,Guest House HESADA
555,Tayu,ID,77.25,-6.54,111.05,Toko pakaian bu is Tayu
558,Neiafu,TO,78.80,-18.65,-173.98,Mystic Sands

In [17]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, \
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [19]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))